@font-face {
    font-family: 'Germanica';
    src: url(Germanica.ttf);
  }

body {
    background: rgb(255, 161, 230);
    border-radius: 10px;
    margin: 5% auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0px;
}

.boot {
    padding: 10px;
    text-align: center;
    font-family: 'Germanica';
    font-size: 40px;
    color: white;
    column-gap: 50px;
}

img {
    width: 350px;
    height: auto;
}


